.container {
	margin: 0 auto;
	padding: 50px 0;
	background-color: white;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

html, body {
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(
		to bottom,
		#D3D3D3,
		#34495e
	);
}

hr {
	margin: 5px auto;
	border-color: #D3D3D3;
}

h1 {
	color: #34495e;
	font-size: 64px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif; 
}

h2 {
	font-size: 36px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

p {
	font-size: 16px;
}

.row {
	margin-top: 25px;
	margin-bottom: 75px;
}

#header {
	text-align: center;
	margin: 0 auto;
}

#mySVG {
	position: absolute;
	z-index: 999;
	margin-left: 120px;
	margin-top: 170px;
}

